/* global variables */
:root {
    --navFont: "Montserrat", serif;
    --navFontSize: 17px;
    --headerFont: "Montserrat", serif;
    --headerFontSize: 30px;
    --headerFontWeight: 600;
    --pFont: "Montserrat", serif;
    --pFontSize: 15px;
    --pFontWeight: 450;


    --lightModeForeground: url("assets/circuitboard.png");
    --lightModeBG: rgb(245, 245, 245);
    --lightModeMouseGreen: rgb(200, 245, 200);
    --lightModeMouseRed: rgb(245,200,200);
    --lightModeMouseBlue: rgb(215,215,245);
    --lightModeMouseGray: rgb(229, 229, 229);
    --lightModeAccent: #ccc;
    --lightModeGlow: rgba(0,0,0,.2);
    --lightModeText: #666;
    --lightModeTextHover: #aaa;
    --lightModeTextSelected: black;

    --darkModeForeground: url("assets/circuitboardDARK.png");
    --darkModeBG: rgb(12,12,12);
    --darkModeMouseGreen: rgb(12,30,12);
    --darkModeMouseRed: rgb(50,12,12);
    --darkModeMouseBlue: rgb(30,30,60);
    --darkModeMouseGray: rgb(30,30,30);
    --darkModeAccent: #333;
    --darkModeGlow: rgba(255,255,255,.2);
    --darkModeText: #999;
    --darkModeTextHover: #555;
    --darkModeTextSelected: white;

    /* use light mode by default */
    --curModeForeground: var(--lightModeForeground);
    --curModeBG: var(--lightModeBG);
    --curModeMouseGreen: var(--lightModeMouseGreen);
    --curModeMouseRed: var(--lightModeMouseRed);
    --curModeMouseBlue: var(--lightModeMouseBlue);
    --curModeMouseYellow: var(--lightModeMouseGray);
    --curModeAccent: var(--lightModeAccent);
    --curModeGlow: var(--lightModeGlow);
    --curModeText: var(--lightModeText);
    --curModeTextHover: var(--lightModeTextHover);
    --curModeTextSelected: var(--lightModeTextSelected);
    
    /* gradients are centered until JS updates it */
    --mouseX: 50%;
    --mouseY: 50%;
}

#darkModeToggle {
    display: none;
}

/* remove margin (outside) and padding (inside) on everything */
* {
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--curModeText);
    font-family: var(--headerFont);
    font-weight: var(--headerFontWeight);
    font-size: var(--headerFontSize);
}

p {
    color: var(--curModeText);
    font-family: var(--pFont);
    font-weight: var(--pFontWeight);
    font-size: var(--pFontSize);
    line-height: 1.5;
}

body {
    height: 100%;
    width: 100%;
}

.clickable {
    display: inline-block;
    padding: 14px 20px;
    text-align: center;
    text-shadow : 0 0 5px var(--curModeBG), 0 0 5px var(--curModeBG),
                  0 0 10px var(--curModeBG), 0 0 10px var(--curModeBG),
                  0 0 20px var(--curModeBG), 0 0 20px var(--curModeBG);

    font-family: var(--navFont);
    font-weight: 800;
    font-size: var(--navFontSize);
    text-decoration: none;
    color: var(--curModeText);
}

.clickable:hover {
    color: var(--curModeTextHover);
}

.clickable[active="1"] {
    color: var(--curModeTextSelected);
}

.scrollBody {
    background:
        /* top layer */
        var(--curModeForeground),
        
        radial-gradient(
            circle 500px at var(--mouseX) var(--mouseY),
            var(--curModeMouseGreen),
            rgba(0,255,0,0)
        ),
        
        var(--curModeBG);
        /* bottom layer */
    
    background-repeat: repeat, no-repeat;
    min-height: 100vh;

    animation: scrollBGGreen 50s linear infinite;
}

.scrollNav {
    z-index: 100;
    position: -webkit-sticky; /* for safari */
    position: sticky;
    top: 0;
    margin-bottom: 50px;

    border-top: 2px solid var(--curModeAccent);
    border-bottom: 2px solid var(--curModeAccent);
    box-shadow: 0 0 10px var(--curModeGlow);

    background:
        /* top layer */
        var(--curModeForeground),
        
        radial-gradient(
            circle 500px at var(--mouseX) var(--mouseY),
            var(--curModeMouseRed),
            rgba(255,0,0,0)
        ),
        
        var(--curModeBG);
        /* bottom layer */
    
    background-repeat: repeat, no-repeat;
    
    animation: scrollBGRed 50s linear infinite;
}

.scrollNav ul {
    list-style-type: none;
    min-height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollMedia {
    display: inline-block;
    margin: 20px auto;

    border: 2px solid var(--curModeAccent);
    border-radius: 30px;
    box-shadow: 0 0 10px var(--curModeGlow);

    overflow: hidden;

    background:
        /* top layer */
        var(--curModeForeground),
        
        radial-gradient(
            circle 500px at var(--mouseX) var(--mouseY),
            var(--curModeMouseBlue),
            rgba(255,0,0,0)
        ),
        
        var(--curModeBG);
        /* bottom layer */
    
    background-repeat: repeat, no-repeat;
    
    
    animation: scrollBGBlue 80s linear infinite;
}

.scrollMedia img {
    display: block;
    height: auto;
    border-radius: 0px 0px 20px 20px;
}

.scrollMedia p {
    font-weight: var(--headerFontWeight);
}

.scrollHero {
    /* alignment */
    display: flex;
    align-items: stretch;
    overflow: hidden;

    max-width: clamp(250px, 90%, 1000px);
    height: 180px;
    margin: 0 auto 0 auto;

    /* styling */
    border-radius: 10px;
    box-shadow: 0 0 10px var(--curModeGlow);
    background:
        /* top layer */
        var(--curModeForeground),
        
        radial-gradient(
            circle 500px at var(--mouseX) var(--mouseY),
            var(--curModeMouseYellow),
            rgba(255,0,0,0)
        ),
        
        var(--curModeBG);
        /* bottom layer */
    background-repeat: repeat, no-repeat;
    animation: scrollBGGray 80s linear infinite;
}

.scrollHero div {
    flex: 1 1 50%;
    min-width: 0;
    padding: 20px;
}

.scrollHero img {
    aspect-ratio: 16/9;
    height: 100%;
    object-fit: cover;
    width: auto;

    mask-image: linear-gradient(to left,
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) 100%);
}

@media (max-width: 670px) {
    .scrollHero {
        text-align: center;
        flex-direction: column;
        height: auto;
    }

    .scrollHero div {
        padding: 20px;
    }

    .scrollHero img {
        mask-image: linear-gradient(to top,
            rgba(0,0,0,1) 30%,
            rgba(0,0,0,0) 100%);
    }
}

@keyframes scrollBGGreen {
    0% {
        background-position: 0px 0px, 0 0, 0 0;
    }
    100% {
        /* only move the mask (i.e. top layer) */
        background-position: -1000px -1000px, 0 0, 0 0;
    }
}

@keyframes scrollBGRed {
    0% {
        background-position: 0px 0px, 0 0, 0 0;
    }
    100% {
        /* only move the mask (i.e. top layer) */
        background-position: 1000px 1000px, 0 0, 0 0;
    }
}

@keyframes scrollBGBlue {
    0% {
        background-position: 0px 0px, 0 0, 0 0;
    }
    100% {
        /* only move the mask (i.e. top layer) */
        background-position: 1000px -1000px, 0 0, 0 0;
    }
}

@keyframes scrollBGGray {
    0% {
        background-position: 0px 0px, 0 0, 0 0;
    }
    100% {
        /* only move the mask (i.e. top layer) */
        background-position: -1000px 1000px, 0 0, 0 0;
    }
}