.scrollHero {
    /* alignment */
    display: flex;
    align-items: stretch;
    overflow: hidden;

    max-width: clamp(250px, 90%, 1000px);
    height: 180px;
    margin: 0 auto 50px auto;

    /* styling */
    border-radius: 10px;
    box-shadow: 0 0 10px var(--curModeGlow);
    background:
        /* top layer */
        var(--curModeForeground),
        
        radial-gradient(
            circle 500px at var(--mouseX) var(--mouseY),
            var(--curModeMouseYellow),
            rgba(255,0,0,0)
        ),
        
        var(--curModeBG);
        /* bottom layer */
    background-repeat: repeat, no-repeat;
    animation: scrollBGGray 80s linear infinite;
}

.scrollHero div {
    min-width: 0;
    padding: 20px;
}

.scrollHero img {
    aspect-ratio: 16/9;
    height: 100%;
    object-fit: cover;
    width: auto;

    mask-image: linear-gradient(to left,
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) 100%);
}

@media (max-width: 670px) {
    .scrollHero {
        text-align: center;
        flex-direction: column;
        height: auto;
    }

    .scrollHero div {
        padding: 20px;
    }

    .scrollHero img {
        height: auto;
        mask-image: linear-gradient(to top,
            rgba(0,0,0,1) 30%,
            rgba(0,0,0,0) 100%);
    }
}