.works {
    /* alignment */
    display: flex;
    align-items: stretch;
    overflow: hidden;

    max-width: clamp(250px, 90%, 1000px);
    height: 700px;
    margin: 0 auto 50px auto;

    /* styling */
    border-radius: 10px;
    box-shadow: 0 0 10px var(--curModeGlow);
}

.works h1 {
    text-shadow:
    2px 2px 0 var(--curModeContrastBG),
    -2px 2px 0 var(--curModeContrastBG),
    -2px -2px 0 var(--curModeContrastBG),
    2px -2px 0 var(--curModeContrastBG);
}

.works p {
    text-shadow:
    1px 1px 0 var(--curModeContrastBG),
    -1px 1px 0 var(--curModeContrastBG),
    -1px -1px 0 var(--curModeContrastBG),
    1px -1px 0 var(--curModeContrastBG);
}
  
/* Left side: 70% */
.works-left {
    flex: 0 0 70%;
    padding: 20px;
    /* Do not scroll if too long, just cut off. */
    overflow-y: hidden;
    box-sizing: border-box;
    text-align: center;

    position: relative;
    
    background:
        /* top layer */
        var(--curModeContrastForeground),
        
        radial-gradient(
            circle 500px at var(--mouseX) var(--mouseY),
            var(--curModeMouseBlue),
            rgba(255,0,0,0)
        ),
        
        var(--curModeContrastBG);
        /* bottom layer */
    background-repeat: repeat, no-repeat;
    animation: scrollBGBlue 80s linear infinite;
}

#projectTitle {
    position: relative;
    z-index: 1;
    pointer-events: none;
}

#projectYear {
    position: relative;
    z-index: 0;
    top: -65px;
    height: 0px;
    opacity: 0.3;

    font-size: calc(var(--headerFontSize)*2.5);
    font-family: var(--headerFont);
    color: var(--curModeText);
}

#projectTags {
    position: absolute;
    top: 10px;
    right: 20px;
    margin-right: 0px;
    padding: 4px;

    border-radius: 10px;
    background-color: rgba(150,150,150,0.3);
    font-size: 0;
}

#projectTags .tag-icon {
    width: 24px;
    height: 24px;
    margin-right: 0px;
    vertical-align: middle;
    filter: drop-shadow(0 0 5px var(--curModeGlow))
    drop-shadow(0 0 2px var(--curModeGlow));
}

.embed iframe {
    width: 100%;
    aspect-ratio: 16/9;
    margin: 20px 0 10px 0;
    border: none;
}

.embed img {
    height: 100%;
    margin: 20px 0 10px 0;
    
    border-radius: 10px;
    box-shadow: 0 0 10px var(--curModeGlow);
}

/* Right side: 30% */
.works-right {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;

    border-left: 2px solid var(--curModeAccent);
    background:
        /* top layer */
        var(--curModeContrastForeground),
        
        radial-gradient(
            circle 500px at var(--mouseX) var(--mouseY),
            var(--curModeMouseYellow),
            rgba(255,0,0,0)
        ),
        
        var(--curModeContrastBG);
        /* bottom layer */
    background-repeat: repeat, no-repeat;
    animation: scrollBGGray 80s linear infinite;
}

.timeline {
    overflow-y: scroll; /* timeline can scroll up/down if large */
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    min-height: 500px;
}

.legend {
    flex: 1;
    display: auto;
    text-align: center;
    padding: 1px 20px 15px 20px;
    

    position: -webkit-sticky; /* for safari */
    position: sticky;
    bottom: 0;
    
    background-color: var(--curModeContrastBG);
    box-shadow: 0 0 10px var(--curModeGlow);
}

.legend-item {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 5px;
}


.timeline-year {
    margin-bottom: 30px;
    border-left: 2px solid var(--curModeAccent);
    padding-left: 10px;
}

.year-label {
    color: var(--curModeText);
    font-family: var(--yearFont);
    font-weight: var(--yearFontWeight);
    font-size: var(--yearFontSize);

    cursor: pointer;
    margin-bottom: 8px;
}

.year-label:hover {
    color: var(--curModeTextHover);
}

.year-label::after {
    content: " ▼";
    font-size: 0.8em;
    color: var(--curModeTextHover);
    margin-left: 5px;
}

.year-label:hover::after {
    color: var(--curModeAccent);
}

/* When expanded="1", change the arrow to ▲ */
.timeline-year[expanded="1"] .year-label::after {
    content: " ▲";
}

/* The list of projects is hidden by default when expanded="0" */
.project-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;  /* hide by default */
}

.project-list li  {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;

    margin-bottom: 5px;

    color: var(--curModeText);
    font-family: var(--pFont);
    font-weight: var(--pFontWeight);
    font-size: var(--pFontSize);

    cursor: pointer;

    text-shadow:
    1px 1px 0 var(--curModeContrastBG),
    -1px 1px 0 var(--curModeContrastBG),
    -1px -1px 0 var(--curModeContrastBG),
    1px -1px 0 var(--curModeContrastBG);
}

.works-right .project-tags {
    white-space: nowrap;
    display: inline-block;
    
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(150,150,150,0.3);
    font-size: 0;
}

.works-right .tag-icon {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    filter: drop-shadow(0 0 5px var(--curModeGlow))
    drop-shadow(0 0 2px var(--curModeGlow));
}

.project-list li:hover {
    color: var(--curModeTextHover);
}

/* Show the list when expanded="1" */
.timeline-year[expanded="1"] .project-list {
    display: block;
}

@media (max-width: 670px) {
    .works {
        flex-direction: column;
        height: auto;
    }

    .works-right {
        border-left: 0px;
        border-top: 2px solid var(--curModeAccent);
        overflow-y: auto;
    }
}